{{!-- <div class='top' id='restaurant'>
  <h1>{{restaurant.name}}</h1>
  <p>{{restaurant.address}}</p>
  <p>{{restaurant.zip}}</p>
  <p>{{restaurant.grade}}</p>
</div>
<div class='top' id='map'>
  
</div>
<div class='bottom' id='information'>
  <button>Yelp</button>
  <button>Inspection</button>
  <div id='display-information'>
    
  </div>
</div> --}}